body, html {
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

header {
  
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #232323;
  color: #ccc;
}
.logo {
  letter-spacing: 3px;
}
.nav {
  display: flex;
  justify-content: space-around;
  width: 70%;    
}
.navlink {
  list-style: none;
  margin: 0px 20px;
}
.navlink a {
  color: #ccc;
  text-decoration: none;
  font-size: 0.8em;
}
.burger {
  font-size: 0.8em;
  display: none;
}

@media screen and (max-width: 730px) {
  .burger {
    display: block;
  }
  .nav {
    margin: 0;
    background: #343434;
    position: absolute;
    right: -100%;    
    display: none;
    top: 70px;
    width: 25%;
    height: calc(100% - 70px);
    flex-direction: column;
    justify-content: space-around;
    padding: 0;
  }
  .navlink {
    text-align: center;
  }
  .nav-active {
    right: 0;     
    display:flex;       
    }
}


body {
    font-size: 18px;
  }
  
.big-text {
  font-size: 80px;
}

.small-text{
    font-size: 12px;
}

#macbook-air {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 80px;
}

#macbook-air > * {
    display: block;       
}

.box-container > * {
    vertical-align: top;
}

.box {    
  min-width: 300px;     
  min-height: 550px;
  width: 30%;   
  /*display: inline; It is not allowed when features has width and height fixed  */
  display: inline-block; /* Responsive */  
  position: relative;    
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s; 
}
.box:hover {
  box-shadow: 0 10px 20px 0 rgba(0,0,0,0.2);
}


.box-img {    
    max-width: 100%;  
    position: absolute;
    margin-top: 50px;
    -ms-transform: translateX(-50%); 
    transform: translateX(-50%);
    bottom: 0px;   
}


.box-background {
  background-color: rgb(242, 242, 242);
}

.navbar-background {
  background-color: rgba(0, 0, 0, 0.8);
}

.footer-background {
  background-color: rgb(245, 245, 247);
}

.has_padding {
  padding: 25px;
}

.has_marging {
  margin: 25px;
}


.myButton {
	background-color:rgb(0, 113, 227);
	border-radius:28px;
	border:none;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:14px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #285766;
  transition: 0.3s; 
  margin-top: 50px;
}
.myButton:hover {
	background-color:#5f9cf7;
}
.myButton:active {
	position:relative;
	top:1px;
}


button,
a {
  color: rgb(0, 113, 227);
}

footer {
  color: rgb(81, 81, 84);
  text-decoration: none; /* Remove all decoration from text */
  margin-top: 100px;
}

/* Textos */
.text-red {
  color: red;
}

footer > * {
  color: rgb(81, 81, 84);
  text-decoration: none; /* Remove all decoration from text */
  padding: 0px 5px;
  font-size: 12px;
  display: inline-block;  
}

footer > a {
  font-weight: bold;  
}
