/* Selectores de clase*/
.title-red {
  color: red;
}

.title-green {
  color: green;
}

.title-blue {
  color: blue;
}

/* Selectores de ID*/
#title-purple {
  color: purple;
}

/* Posicionamiento y estructura */
.box {
  /*width: 300px;
  height: 100px;
  display: inline; Este no es válido cuando los elementos tienen ancho-alto  */
  display: inline-block; /* Responsive */
}

.red-background {
  background-color: red;
}

.green-background {
  background-color: green;
}

.blue-background {
  background-color: blue;
}

.box_square {
  width: 200px;
  height: 200px;
  background-color: cornflowerblue;
  border: 1px solid black;
  display: inline-block;
}

.has-margin {
  background-color: darkolivegreen;
  margin: 0px 50px;
  /* margin: 0px 0px 50px 50px; En sentido de las agujas del reloj, empezando por arriba */
}

.box-centered {
  width: 200px;
  height: 200px;
  background-color: cornflowerblue;
  border: 1px solid black;
  margin: 0 auto; /* Propiedad margin con los valores 0 vertical y auto horizontal */
}

.text-container {
  padding-left: 50px;
  border: 1px solid black;
}

/* Textos */
body {
  font-size: 24px;
}

.big-text {
  font-size: 24px;
}

/* Esta clase añade el peso bold a la fuente */
.bold {
  font-weight: bold;
}

.sans-serif {
  font-family: sans-serif;
}

/* Esto aplica el color azul a todos los elementos del tipo <p> */
p {
  /*color: blue;*/
  color: #4d8fac; /* Cambiaremos el color azul por este código */
  /*color: rgb(0, 177, 255);*/
}

.sans-serif {
  font-family: sans-serif;
  /*color: red;*/
  color: #c3272b; /* Cambiaremos el color rojo por este código */
  /*color: rgb(238, 103, 107);*/
}

/* Decoración del texto*/
.no-decoration {
  text-decoration: none; /* Esta clase quitará toda la decoración del texto */
}

.underline {
  text-decoration: underline; /* Esta clase añadirá subrayado al texto */
}

.striked {
  text-decoration: line-through; /* Esta clase tachará el texto */
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.capitalize {
  text-transform: capitalize;
}
